@import "../../../../../styles";

.banner {
  background: $app-beige-200;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.banner-image {
  display: flex;
  justify-content: center;
  align-items: end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/assets/images/header/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2.5em;
  height: 400px;
  width: 620px;
}

.banner-left, .banner-right {
  display: none;
  z-index: 501;
}

h1 {
  font-style: italic;
  white-space: pre-line;
  color: white;
  z-index: 502;
}

@include media-breakpoint-up(md) {
  .banner {
    margin-top: 40px;
  }
}

@include media-breakpoint-up(lg) {
  .banner-left, .banner-right {
    position: relative;
    display: block;
  }
  .banner-left {
    left: 100px;
  }
  .banner-right {
    right: 100px;
  }
}
