@import "../../../../../styles";

.banner {
  background: $app-beige-200;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  max-width: 100%;
}

.banner-left, .banner-right {
  display: none;
}

h1 {
  position: absolute;
  margin-left: calc(100vh / 2);
  //left: 100px;
  font-style: italic;
  white-space: pre-line;
  color: $app-blue;
  width: 100%;
}

@include media-breakpoint-up(md) {
  .banner {
    margin-top: 60px;
  }

  .banner-left, .banner-right {
    position: relative;
    display: block;
  }

  .banner-left {
    left: 100px;
  }
  .banner-right {
    right: 100px;
  }
}
