@import "../../../../../styles";

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/assets/images/header/hero.png");
  margin-top: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  z-index: 500;
}

h1 {
  font-style: italic;
  white-space: pre-line;
  color: white;
}

@include media-breakpoint-up(sm) {
  h1 {
    color: $app-blue;
  }
}

@include media-breakpoint-up(md) {
  header {
    margin-top: 80px;
    height: 350px;
  }
}

@include media-breakpoint-up(lg) {
  header {
    height: 600px;
  }
}
