<header>
  <app-navbar></app-navbar>

  <div class="banner">
    <h1>
      {{ headerService.title }}
    </h1>
    <div class="banner-left">
      <img src="/assets/images/header/banner-left.png" alt="banner-left">
    </div>
    <div class="banner-image">
      <img src="/assets/images/header/hero.png" alt="banner-left">
    </div>
    <div class="banner-right">
      <img src="/assets/images/header/banner-right.png" alt="banner-left">
    </div>


    <!--    <h1 class="d-flex align-items-end align-items-sm-start pb-5 pt-sm-3">-->
    <!--      <h1 class="d-flex align-items-end align-items-sm-start justify-content-center" style="border: red 1px solid">-->
    <!--        {{ headerService.title }}-->
    <!--      </h1>-->
  </div>
</header>
