<app-page>
  <app-card title="Du har ikke så mange kræfter" ngClasses="bg-app-green-100 mx-3 mx-md-0">
    <div col-1>
      <p>
        Du har svært ved at åbne flasker, nå ned til gulvet eller stå i længere tid. Du har svært ved at overskue
        nogle af de daglige ting, som du tidligere kunne.
      </p>
      <p class="mt-3">
        Jeg tilbyder træning i de daglige aktiviteter og følgeskab til læge og møder med kommunen.
      </p>
    </div>
    <div col-2>
      <img src="assets/illustrations/services/elderly-people-professional_07.png" alt="Illustration" />
    </div>
  </app-card>

  <app-card title="Din nærmeste har brug for hjælp" ngClasses="bg-app-blue-100 mt-3 mx-3 mx-md-0">
    <div col-1>
      <p>
        Din nærmeste har svært ved at få handlet, vasket tøj, gå i bad og har måske mange lægeaftaler og aftaler med
        kommunen.
      </p>
      <p class="mt-3">
        Jeg tilbyder træning i de daglige aktiviteter og følgeskab til læge og møder med kommunen.
      </p>
    </div>
    <div col-2>
      <img src="assets/illustrations/services/elderly-people-professional_04.png" alt="Illustration" />
    </div>
  </app-card>

  <app-card title="Du skal hjem fra hospital" ngClasses="bg-app-green-100 mt-3 mx-3 mx-md-0">
    <div col-1>
      <p>
        Du skal udskrives efter længere indlæggelse, ny hofte eller andet og du er bekymret for hvordan det skal
        gå. </p>
      <p class="mt-3">
        Jeg kan gøre din udskrivelse mere tryg. Jeg kan besøge dig på hospitalet, og komme hjem til dig ved
        udskrivelse. Jeg tilbyder træning i de daglige aktiviteter.
    </div>
    <div col-2>
      <img src="assets/illustrations/services/doctor-patient_06.png" alt="Illustration" />
    </div>
  </app-card>

  <app-card title="Du bor på plejehjem" ngClasses="bg-app-blue-100 mt-3 mx-3 mx-md-0">
    <div col-1>
      <p>
        Dagene kan være lange og du savner aktivitet der er tilrettelagt dig. Du modtager måske lidt træning via
        kommunen, men vil gerne træne oftere.</p>
      <p class="mt-3">
        Jeg tilbyder ergoterapi med fokus på at lave aktiviteter som du kan lide.
      </p>
    </div>
    <div col-2>
      <img src="assets/illustrations/services/volunteers-helping-elderly_09.png" alt="Illustration" />
    </div>
  </app-card>

  <app-card title="Din ægtefælle er blevet syg" ngClasses="bg-app-green-100 my-3 mx-3 mx-md-0">
    <div col-1>
      <p>
        Din ægtefælle har brug for hjemmepleje flere gange om dagen og det er hårdt for jer begge. Der er mange ting
        at holde styr på.</p>
      <p class="mt-3">
        Jeg tilbyder hjælp til de praktiske gøremål med fokus på at inddrage dig og din ægtefælle.
      </p>
    </div>
    <div col-2>
      <img src="assets/illustrations/services/seniors-with-life-insurance.png" alt="Illustration" />
    </div>
  </app-card>
</app-page>
