<app-page>
  <section class="bg-app-green-200 p-3">
    <h2 class="text-app-blue">Du har ikke så mange kræfter</h2>
    <div class="d-flex flex-column flex-md-row">
      <div class="col-12 col-md-8 pe-3">
        <p>
          Du har svært ved at åbne flasker, nå ned til gulvet eller stå i længere tid. Du har svært ved at overskue
          nogle af de daglige ting, som du tidligere kunne.
        </p>
        <p class="mt-3">
          Jeg tilbyder træning i de daglige aktiviteter og følgeskab til læge og møder med kommunen.
        </p>
      </div>
      <div class="col-12 col-md-4 text-center">
        <img src="assets/illustrations/elderly-7.png" alt="Illustration" />
      </div>
    </div>
  </section>

  <section class="bg-app-green-100 p-3">
    <h2 class="text-app-blue">Din nærmeste har brug for hjælp</h2>
    <div class="d-flex flex-column flex-md-row">
      <div class="col-12 col-md-8 pe-3">
        <p>
          Din nærmeste har svært ved at få handlet, vasket tøj, gå i bad og har måske mange lægeaftaler og aftaler med
          kommunen.
        </p>
        <p class="mt-3">
          Jeg tilbyder træning i de daglige aktiviteter og følgeskab til læge og møder med kommunen.
        </p>
      </div>
      <div class="col-12 col-md-4 text-center">
        <img src="assets/illustrations/elderly-4.png" alt="Illustration" />
      </div>
    </div>
  </section>

  <section class="bg-app-green-200 p-3">
    <h2 class="text-app-blue">Du skal hjem fra hospital</h2>
    <div class="d-flex flex-column flex-md-row">
      <div class="col-12 col-md-8 pe-3">
        <p>
          Du skal udskrives efter længere indlæggelse, ny hofte eller andet og du er bekymret for hvordan det skal
          gå. </p>
        <p class="mt-3">
          Jeg kan gøre din udskrivelse mere tryg. Jeg kan besøge dig på hospitalet, og komme hjem til dig ved
          udskrivelse. Jeg tilbyder træning i de daglige aktiviteter.
        </p>
      </div>
      <div class="col-12 col-md-4 text-center">
        <img src="assets/illustrations/elderly-20.png" alt="Illustration" />
      </div>
    </div>
  </section>

  <section class="bg-app-green-100 p-3">
    <h2 class="text-app-blue">Du bor på plejehjem</h2>
    <div class="d-flex flex-column flex-md-row">
      <div class="col-12 col-md-8 pe-3">
        <p>
          Dagene kan være lange og du savner aktivitet der er tilrettelagt dig. Du modtager måske lidt træning via
          kommunen, men vil gerne træne oftere.</p>
        <p class="mt-3">
          Jeg tilbyder ergoterapi med fokus på at lave aktiviteter som du kan lide.
        </p>
      </div>
      <div class="col-12 col-md-4 text-center">
        <img src="assets/illustrations/elderly-21.png" alt="Illustration" />
      </div>
    </div>
  </section>

  <section class="bg-app-green-200 p-3">
    <h2 class="text-app-blue">Din ægtefælle er blevet syg</h2>
    <div class="d-flex flex-column flex-md-row">
      <div class="col-12 col-md-8 pe-3">
        <p>
          Din ægtefælle har brug for hjemmepleje flere gange om dagen og det er hårdt for jer begge. Der er mange ting
          at holde styr på.</p>
        <p class="mt-3">
          Jeg tilbyder hjælp til de praktiske gøremål med fokus på at inddrage dig og din ægtefælle.
        </p>
      </div>
      <div class="col-12 col-md-4 text-center">
        <img src="assets/illustrations/elderly-22.png" alt="Illustration" />
      </div>
    </div>
  </section>
</app-page>
