<footer>
  <div class="cta-band bg-app-green-800 text-center py-4 px-3">
    <h3 class="text-white">Har du spørgsmål?</h3>
    <p class="mb-0">
      Skriv til mig på <a href="mailto:kontakt@ergoplus.dk">kontakt&#64;ergoplus.dk</a>
    </p>
  </div>

  <div class="bg-app-green-600 py-4 px-3">
    <div class="container footer-columns d-flex flex-column align-items-center text-center flex-lg-row justify-content-lg-between align-items-lg-start text-lg-start">
      <div class="footer-column mb-4 mb-lg-0">
        <span class="d-block pt-1"><i class="bi bi-telephone-fill fs-5 me-2"></i>42 55 69 11</span>
        <span class="d-block pt-1"><i class="bi bi-envelope-fill fs-5 me-2"></i>
          <a href="mailto: kontakt@ergoplus.dk">kontakt&#64;ergoplus.dk</a>
        </span>
        <span class="d-block pt-1"><i class="bi bi-house-fill fs-5 me-2"></i>Cvr: 44720698</span>
      </div>

      <div class="footer-column mb-4 mb-lg-0">
        <div class="mb-3 d-flex align-items-center gap-3">
          <a href="https://stps.dk/tilsynsrapporter/2024/jul/ergoplus" target="_blank">
            <img src="assets/images/footer/stps-logo.png" style="width: 65px" alt="Styrelsen for patientsikkerhed logo">
          </a>
          <img src="assets/images/footer/ERGO-privatprakt-logo-sort.gif" style="width: 90px" alt="Ergoterapeut foreningen logo">
        </div>
        <a href="/assets/reports/stps_tilsynsrapport_2024.pdf" download="ErgoPlus tilsynsrapport">Hent Tilsynsrapport</a>
      </div>
    </div>
  </div>

  <div class="bg-app-green-900 py-2 small text-center">
    <span>&copy;ErgoPlus 2026</span>
  </div>
</footer>
