@import "../../../../../styles";

footer {
  color: white;

  a, .btn-link {
    color: white;
  }

  a:hover, .btn-link:hover {
    color: $app-green-100;
  }

  .btn-link {
    font-size: inherit;
    transition: none;
  }
}

