@import "../../../../../styles";

nav {
  padding: 10px !important;
}

img {
  height: 40px;
}

@include media-breakpoint-up(md) {
  img {
    height: 60px;
  }
}

.active {
  color: $app-blue-300 !important;
  text-decoration: underline;
}


