@import "../../../../../styles";

img {
  height: 50px;
}

@include media-breakpoint-up(md) {
  img {
    height: 100px;
  }
}

.active {
  color: $app-orange-900 !important;
  text-decoration: underline;
}


