<nav class="navbar navbar-expand-md bg-app-beige fixed-top">
  <div class="container">
    <div>
      <a class="navbar-brand" routerLink="/home">
        <img src="assets/images/header/logoblaa.png" alt="ErgoPlus logo" style="object-fit: contain">
      </a>
    </div>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-end"
      [ngClass]="{ show: navbarOpen }"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/forside"
            routerLinkActive="active"
            (click)="closeNavBar()"
          >FORSIDE</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/ergoterapi"
            routerLinkActive="active"
            (click)="closeNavBar()"
          >ERGOTERAPI</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/priser"
            routerLinkActive="active"
            (click)="closeNavBar()"
          >
            PRISER</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/omergoplus"
            routerLinkActive="active"
            (click)="closeNavBar()"
          >
            OM ERGOPLUS</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
