@import "../../../styles";

table {
  width: 100%;

  td {
    vertical-align: top;
    padding: 4px;
  }

  td:last-child {
    text-align: end;
    width: 25%;
  }
}

@include media-breakpoint-up(md) {
  table {
    width: 75%;

    td:last-child {
      width: 15%;
    }
  }
}
