<app-page>
  <img src="assets/images/heropriser.png" class="w-100" style="max-height: 500px" />

  <div class="bg-app-green-200 p-3 my-3">
    <h2 class="text-app-blue">Konsultation</h2>

    <p>Der tilbydes uforpligtende samtale pr. telefon, ca. 30 minutter</p>

    <p>Der udføres dokumentation i forbindelse med hver kontakt og alt dokumentation opbevares efter gældende regler og
      lovgivning.</p>

    <table>
      <tr>
        <td>Timepris</td>
        <td>850,-</td>
      </tr>
      <tr>
        <td>Klippekort á 5 timer</td>
        <td>4000,-</td>
      </tr>
      <tr>
        <td>Klippekort á 10 timer</td>
        <td>7500,-</td>
      </tr>
      <tr>
        <td>Opstartssamtale, ergoterapeutisk funktionsvurdering/undersøgelse og målsætning (kan tage op til 90 min og
          kan være over 2 besøg)
        </td>
        <td>1300,-</td>
      </tr>
      <tr>
        <td>Følgeskab til lægesamtale eller hospital. Der udføres referat af samtale. Timepris
        </td>
        <td>500,- + moms</td>
      </tr>
    </table>
    <p class="mt-3">Priserne er inklusiv lønsum</p>
  </div>

  <div class="bg-app-green-100 p-3 my-3">
    <h2 class="text-app-blue">Kørsel</h2>

    <table>
      <tr>
        <td>Første halve time</td>
        <td>gratis</td>
      </tr>
      <tr>
        <td>Takst pr. påbegyndt halve time</td>
        <td>200,-</td>
      </tr>
    </table>
  </div>

  <div class="bg-app-green-200 p-3 my-3">
    <h2 class="text-app-blue">Aflysning</h2>

    <p>Afbud inden 24 timer før aftalte tid er gratis</p>
    <p>Afbud under 24 timer før aftale tid koster fuld pris</p>
  </div>

  <div class="bg-app-green-100 p-3 my-3">
    <h2 class="text-app-blue">Betaling</h2>

    <p>Betaling sker inden behandlingens start via, bankoverførelse eller mobilepay</p>
  </div>
</app-page>
