<app-page>
    <app-card ngClasses="bg-app-green-100 mx-3 mx-md-0">
      <div class="d-flex justify-content-around flex-column flex-lg-row">
        <div class="col-lg-3 flex-row my-3 my-lg-0">
          <app-price-card
            [title]="'Opstartsbesøg'"
            [price]="'1300,- + kilometertakst*'"
            [features]="[
        '60-90 minutter hjemmebesøg',
        'Interview og ergoterapeutisk funktionsvurdering',
        '30 minutters kørsel',
        'Dokumentation i journalsystem (lovpligtigt)',
        'Telefonisk opfølgning eller besked via journalsystem']">
          </app-price-card>
        </div>

        <div class="col-lg-3 flex-row my-3 my-lg-0">
          <app-price-card
            [title]="'1 besøg'"
            [price]="'850,- + kilometertakst*'"
            [features]="[
        '60 minutter hjemmebesøg',
        'Ergoterapeutisk træning og vejledning',
        '30 minutters kørsel',
        'Dokumentation i journalsystem (lovpligtigt)',
        'Telefonisk opfølgning eller besked via journalsystem']">
          </app-price-card>
        </div>

        <div class="col-lg-3 flex-row my-3 my-lg-0">
          <app-price-card
            [title]="'5 besøg'"
            [price]="'4000,- + kilometertakst*'"
            [features]="[
        '60 minutter hjemmebesøg',
        'Ergoterapeutisk træning og vejledning',
        '30 minutters kørsel',
        'Dokumentation i journalsystem (lovpligtigt)',
        'Telefonisk opfølgning eller besked via journalsystem']">
          </app-price-card>
        </div>
      </div>

      <p class="mt-3 text-black-50"><i>* Kilometertakst afregnes fra Hvidovre   i henhold til statens gældende takster for kørsel</i></p>
    </app-card>
</app-page>
