<app-page>
  <app-card title="Hvorfor vælge ergoterapi?" ngClasses="bg-app-green-100 mx-3 mx-md-0">
    <div col-1>
      <p>
        Ergoterapi har fokus på de enkelte menneskes muligheder for at udføre dagligdags aktiviteter. Når man mister
        eller får nedsat én eller flere fysiske, psykiske og sociale funktioner, kan man have gavn af
        ergoterapeutisk
        intervention.
      </p>
      <p class="me-3">
        Jeg træner din krop, psyke og hjerne, og udvikler dine færdigheder i samarbejde med dig. Sammen finder vi
        frem
        til løsninger, som passer til dit liv, dine værdier, ressourcer og vaner. Målet er en hverdag med indhold og
        struktur, hvor du kan deltage i de aktiviteter, som du finder meningsfulde.
      </p>
    </div>
    <div col-2>
      <div #playerContainer></div>
    </div>
  </app-card>

  <app-card title="Forebyggelse, træning og behandling i eget hjem" ngClasses="bg-app-blue-100 my-3 mx-3 mx-md-0">
    <div>
      <p>
        Står du i en situation, hvor kræfterne er blevet mindre eller overskud forhindrer dig i at gøre som du plejer.
        Du
        er
        måske udskrevet fra hospitalet og har svært ved at opretholde den hverdag du kunne tænke dig. Du tager ikke
        bussen, haven gror til, eller lysten til at lave mad svinder ind. Du kan også have svære ved at holde huset
        rent, gå i bad eller tage tøj på.
      </p>
      <p class="mt-3">
        Dine pårørende bor langt væk og har en travl hverdag, men du har brug for hjælp til små ting i hverdagen.
      </p>
      <p class="mt-3">
        Du er måske allerede begyndt at få hjælp fra kommunen, eller har brug for at søge offentlige ydelser, men
        det
        virker uoverskueligt at forstå reglerne.
      </p>
      <p class="mt-3">
        Du har mange lægebesøg, og er afhængig af hjælp fra andre til at komme frem og tilbage.
      </p>
      <p class="mt-3">
        Jeg tilbyder støtte, hjælp og vejledning hvor du har brug for det. Læs mere under ydelser.
      </p>
    </div>
  </app-card>
</app-page>
