<app-page [compact]="true">
  <section class="page-header text-center">
    <h1>Ergoterapi med fokus på dig</h1>
    <p class="lead mx-auto">
      Ergoterapi har fokus på dine muligheder for at udføre dagligdags aktiviteter. Når du mister eller får nedsat
      fysiske, psykiske eller sociale funktioner, kan du have gavn af ergoterapeutisk intervention.
    </p>
  </section>
</app-page>

<section class="feature">
  <div class="container feature-inner">
    <div class="feature-image">
      <div #playerContainer class="feature-video"></div>
    </div>
  </div>
</section>
