<app-page>
  <app-card [title]="'Baggrunden for ErgoPlus'" ngClasses="bg-app-green-100 mb-3 mx-3 mx-md-0">
    <div col-1>
      <p>
        Efter mange år i primærsektoren oplever jeg et behov for privat ergoterapi. Vi er alle unikke med helt
        særlige behov, som er vigtige at få opfyldt for at livet giver mening.
      </p>
      <p class="mt-3">
        Jeg oplever, at det er svært at få disse ønsker opfyldt, når man er blevet afhængige af hjælp fra andre. Men
        hvorfor ikke forebygge afhængighed af hjælp fra andre?
      </p>
      <p class="mt-3">
        Jeg vil gerne bruge mine kompetencer med klienter uden at de er styret af tidsregistrering og kommunale
        serviceniveau.
      </p>
      <p class="mt-3">
        Jeg vil gerne tage udgangspunkt i den enkelte og tilpasse den ønskede hjælp i form af træning, behandling og
        praktisk hjælp til selvhjælp i eget hjem, så mine klienter kan få det bedst mulige liv.
      </p>
    </div>
    <div col-2>
      <img src="assets/images/home/lene.png" class="w-50" alt="Billede af Ergoterapeut Lene" />
    </div>
  </app-card>
</app-page>
