@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/buttons";

@import 'assets/themes/app-variables';

@import 'bootstrap/scss/bootstrap';


*, .container {
  box-sizing: border-box;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Serif", Roboto, serif;
  color: $app-blue;
  margin: 0;
}


// Buttons
.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: $app-blue !important;
}

.btn-primary:hover {
  background-color: $app-blue-300 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
