@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

@import 'assets/themes/app-variables';

@import 'bootstrap/scss/bootstrap';


*, .container {
  box-sizing: border-box;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $app-blue;
  margin: 0;
}
